body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7fafc;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
  display: flex;
  justify-content: center;
  font-size: 100px
}

#result-title {
  display: flex;
  justify-content: center;
  padding: 50px;
}

#blurb {
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 10px;
  color: #585858;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#saved-div {
  display: flex;
  justify-content: center;
  padding: 50px
}

button {
  padding: 10px 20px;
  background-color: #4f46ec;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
  display: none;
}

#cocktailResults {
  padding: 30px 0px;
}

.cocktail {
  margin-bottom: 20px;
}

.cocktail-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

.cocktail-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cocktail-instructions {
  margin-bottom: 10px;
  color: #555;
}

.cocktail-ingredients {
  list-style-type: disc;
  margin-left: 20px;
  color: #555;
}

.column {
  padding: 10px;
  background: white;
}

.message-container {
  position: absolute;
  background-color: #f9fafb;
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
