@media screen and (min-width:200px) and (max-width:567px) {
    #movieModal .modal-content {

        width: 90%;
    }
.jq-toast-single{
    width: 80%;
}
    .movie-night {
        font-size: 18px;
    }
    main h1 {
        text-align: center;
            margin-bottom: 20px;
             font-size: 25px;
    }
    .movie-congrats {
        text-align: center;
        padding: 20px 10px;
        font-size: 14px;
    }
    .movie-shows h3 {
        text-align: center;
        margin-bottom: 10px;
        color: #585858;
        padding: 15px 10px;
    }
    .btn-result {
        margin: 20px auto 0px auto;
    }
    .movie-show-data {
        margin: 30px auto 30px auto;
        flex-direction: column;
    }
    .movie-night-items h2 {
        margin: 20px;
        font-size: 20px;
        padding: 5px;
    }
    .input-group-text label{
font-size: 16px;
    }
    .movie-show-items {
            flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .movie-title {
        font-size: 17px;
        width: 80%;
        padding-top: 15px;
        width: 70%;

    }
    .play-trailer {
               width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 19px;
    }
    .play-trailer i {
                line-height: 30px;
                font-size: 15px;
    }
    .movie-save button {
              font-size: 14px;
              padding: 8px 11px;
    }
 
    #movieModal .input-group {

        font-size: 17px;
    }


    .movieTrailerModal .modal-content {
        width: 90%;
    }
 
#movieTrailerModal .modal-content {
    width: 90%;
}
#movieTrailerModal h5 {
    font-size: 20px;
}
.movie-store-random {

    flex-direction: column;
    
}
.movie-storage {
   margin: 0px auto 30px auto;
    width: 80%;
}
.movie-show {
    padding: 0px 15px;
}
.movieModal .close {
    width: 30px;
    height: 30px;
       line-height: 30px;
}

}
@media screen and (min-width:568px) and (max-width:767px) {

    #movieModal .modal-content {

        width: 90%;
    }

    .movie-night {
        font-size: 18px;
    }
    main h1 {
        text-align: center;
            margin-bottom: 20px;
             font-size: 25px;
    }
    .movie-congrats {
        text-align: center;
        padding: 20px 10px;
        font-size: 14px;
    }
    .movie-shows h3 {
        text-align: center;
        margin-bottom: 10px;
        color: #585858;
        padding: 15px 10px;
    }
    .btn-result {
        margin: 20px auto 0px auto;
    }
    .movie-show-data {
        margin: 30px auto 30px auto;
        flex-direction: column;
    }
    .movie-night-items h2 {
        margin: 20px;
        font-size: 20px;
        padding: 5px;
    }
    .input-group-text label{
font-size: 16px;
    }
    .movie-show-items {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }
    .movie-list {
        flex-basis: 45%;
        background-color: #fff;
        margin-bottom: 20px;
        margin: 2%;
    }
    .movie-title {
        font-size: 17px;
        width: 80%;
        padding-top: 15px;
        width: 70%;

    }
    .play-trailer {
               width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 19px;
    }
    .play-trailer i {
                line-height: 30px;
                font-size: 15px;
    }
    .movie-save button {
              font-size: 14px;
              padding: 8px 11px;
    }
    #movieModal .modal-content {

        width: 90%;
    }

    .movie-night {
        font-size: 30px;
    }

    #movieModal .input-group {

        font-size: 17px;
    }

    .thumbnail-inner {
        flex-basis: 43%;
        margin: 2%;
    }

    #movieTrailerModal .modal-content {
        width: 75%;
    }
    .randomly-movie-inner {
        flex-basis: 45%;
}
.movie-storage{
    flex-basis: 25%;
}
.movie-show {
    flex-basis: 70%;

}
.randomly-movie-inner {
    flex-basis: 45%;
}
#movieTrailerModal h5 {
    font-size: 24px;
}
}

@media screen and (min-width:768px) and (max-width:991px) {

    main h1 {
              font-size: 50px;
        margin-top: 60px;
    }
    .movie-congrats {
        text-align: center;
        padding: 45px;
        font-size: 18px;
    }
    .movie-shows h3 {
              padding: 20px;
    }
    .movie-night-items h2 {
        font-size: 18px;
    }
    .input-group-text {
             font-size: 15px;
    }
    .movie-list {
        flex-basis: 46%;
    }
    #movieModal .modal-content {

        width: 90%;
    }

    .thumbnail-inner {
        flex-basis: 31%;
        margin: 1%;
    }
    #movieTrailerModal .modal-content {
        width: 60%;
    }
    #movieTrailerModal h5 {
        font-size: 20px;
    }
    .randomly-movie-inner h4 {
      
        font-size: 15px;
    }
    .movie-storage ol li {
    
        font-size: 13px
    }
}