/* Main */

body {
  font-family: Arial, sans-serif;
  background-color: #f7fafc;
  height: 100%
}


section {
  padding: 2rem;
}

#main-title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
  display: flex;
  justify-content: center;
  font-size: 100px;
}

#blurb {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #585858;
}

.uk-tab-bottom {
  display: flex;
  top: 70px;
  position: relative;
}

.link {
  margin: 0px 50px;
}

.link :hover {
  color: #4f46ec
}

/* 'Go Out' Dates */

#dates {
  position: relative;
  top: 70px;
}

#to-do {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  padding: 10px 20px;
  background-color: #4f46ec;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

#out-title,
#movie-title,
#cocktail-title,
#dinner-title {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 40px;
  border-style: solid;
  border-color: #e1e1e1;
  border-width: 3px;
  border-left: none;
  border-right: none;
  padding: 20px;
}


.out-dates {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}


.card-out {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
  background: white;
  margin: 20PX;
  width: 400px;
  padding: 20px 0px;
}


.location-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  display: flex;
  justify-content: center;
}

.location-div,
.location-rating,
.img-holder {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}



/* Cocktail Date Cards */


.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: #000000;
  text-align: center
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7fafc;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

#savedCocktails {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.saved-cocktail {
  max-width: 400px;
  margin-bottom: 1.5rem;
  background: white;
  margin: 20PX;
  width: 400px;
  padding: 20px 0px;
  ;
}


.cocktails {
  margin-bottom: 20px;
}

.cocktail-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  text-align: center;
}

.cocktail-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cocktail-instructions {
  color: #000000;
  text-align: center;
  margin: 20px
}

.cocktail-ingredients {
  list-style-type: disc;
  margin-left: 20px;
  color: #000000;
  margin: 20px
}


/* movie data show */


/* for to do page */


#movie-dates {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}


.movie-save-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  text-align: center;

}

.movie-data-list {
  max-width: 400px;
  margin-bottom: 1.5rem;
  background: white;
  margin: 20PX;
  width: 400px;
  padding: 20px 0px;
}


.movie_save_card {
  height: 100%;
  width: 100%;

}

.movie_save_card img {
  height: 100%;
  width: 100%;
}

.btn-delete {
  background-color: #4f46ec;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  box-shadow: 0px 0px 6px 0px #4f46ec;
  display: table;
  margin: 15px auto 5px auto;
}

@media screen and (min-width:200px) and (max-width:567px) {
  #movies h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }

  #movie-dates {
    display: flex;
    flex-direction: column;
  }

  #movies {
    margin: auto;
    display: table;
    background-color: white
  }

  .btn-delete {
    font-size: 14px;
    padding: 5px 15px;
  }

  .movie-data-list {
    flex-basis: 90%;
  }
}

@media screen and (min-width:568px) and (max-width:767px) {
  #movies h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }

  #movie-dates {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .movie-data-list {
    flex-basis: 45%;
  }

  .btn-delete {
    font-size: 14px;
    padding: 5px 15px;
  }

  .movie-data-list {
    flex-basis: 45%;
  }
}

/* Dinners */
.card {
  max-width: 400px;
  margin-bottom: 1.5rem;
  background-color: white;
  margin: 20PX;
  width: 400px;
  padding: 20px 0px;
}

.card-content {
  text-align: center
}

#savedDinner {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#dinner {
  background: white
}

.card p {
  color: #000;
  text-align: center;
  margin: 20px;
}