* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Start Page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7fafc;
}

#h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 100px;
}

#titles {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

#start {
    display: flex;
    justify-content: center;
}

#start-div {
    display: flex;
    justify-content: center;
}

#saved-div {
    display: flex;
    justify-content: center;
}

#startBtn {
    color: black;
    background-color: white;
    width: 200px;
    height: 150px;
    font-size: 30px;
    position: relative;
    top: 200px;
}

#to-do {

    display: flex;
    justify-content: center;
    position: relative;
    top: 300px;
    padding: 10px 20px;
    background-color: #4f46ec;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-end {
    top: 70px !important
}

/* Funnel Questions  */

#q1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 300px
}

#q1-title {
    display: flex;
    justify-content: center;
}

#in-out {
    display: flex;
    justify-content: center;
    position: relative;
    top: 350px;
}

#outBtn {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    display: inline;
    width: 200px;
    margin: 100px;
    height: 80px;
    font-size: large;
}


#inBtn {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    display: inline;
    width: 200px;
    margin: 100px;
    height: 80px;
    font-size: large;
}

#q2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 300px
}


#q2-title {
    display: flex;
    justify-content: center;
}

#in-questions {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -250px;
}


#movie-night {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    display: inline;
    width: 200px;
    margin: 100px;
    height: 80px;
    font-size: large;
}

#cocktail {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    display: inline;
    width: 200px;
    margin: 100px;
    height: 80px;
    font-size: large;
}

#dinner {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    display: inline;
    width: 200px;
    margin: 100px;
    height: 80px;
    font-size: large;
}

/* 'Go Out' Question 1: Location */
#location {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 230px;
    align-items: center;
    flex-direction: column;
}

#location-title {
    font-size: 40px;
    margin: 0px 0px 50px;
}

#location-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#number-form {
    border: 2px solid aliceblue;
}

#street-form {
    border: 2px solid aliceblue;
}

#city-form {
    border: 2px solid aliceblue;
}

#form-block {
    width: 800px;
}

#submit {
    color: black
}

.submit-button {
    display: flex;
    justify-content: center;
}

/* 'Go Out' Main Questions */
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 400px;
}

#question {
    font-size: 40px
}

#answerA,
#answerB,
#answerC {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 100px;
    height: 80px;
    font-size: large;
}

#answer-buttons {
    display: flex;
    align-items: center;
}

/* Go Out Results */

#result-title-display {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    position: relative;
    top: 50px;
}

#result-title {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10px;
    color: #585858;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.date-result-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;

}

#results {
    position: relative;
    top: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-whole {
    padding: 20px 0px 20px;
    background: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

ul {
    padding: 15px;
}

.location-title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.img-div {
    display: flex;
    justify-content: center;
}

.location-address {
    padding: 15px 0px 10px;
    text-align: center;
}

.location-rating,
.location-price {
    padding: 10px;
}

.save {
    padding: 10px 20px;
    background-color: #4f46ec;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    display: flex;
    font-size: 20px;
    justify-content: center;
    background: white;
}